@{
    ViewBag.Title = " ";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<section id="about-us" class="parallax">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>DOLUNAY OTEL...</h2>
                    <p>Çeşit çeşit çiçeklerle çevrelenmiş yaşam alanı, kırmızı kumlu eşsiz bir kumsal, lacivertten mora gökkuşağının her renge bürünen Marmaris’in eşsiz denizi, karşıda dağlar, arkanızda okaliptüs ağaçları ve Topkaya’nın her zaman esintili ve nemsiz havası… </p>
                   <br />
                     <p>Topkaya’nın yanı başında, butik otel anlayışıyla betona
yenilmeyip doğayı sahiplenen Dolunay; huzuru, dinginliği ve sessizliğiyle siz ve aileniz için sakin ve doğayla iç içe bir tatil sunuyor.</p>
                    <br />
                    <p>Topkaya'nın büyülü güzelliğinde doğa ile insan arasında bir köprü görevi üstlenen otelimizde, huzur içinde bir tatil
geçirmenizi diliyoruz.</p>
                    <br />
                    <p>Dolunay'a hoş geldiniz!</p>
                    
                </div>
            </div>
           
        </div>
    </div>
</section><!--/#about-us-->
<div class="copyrights wrapper">
    <p align="center"> Copyright © 2015 <a href="http://dolunayotel.com" target="_blank" class="ph_link" title=Daha fazla bilgi için:">dolunayhotel.com</a>. All Rights Reserved. </p>
</div>