@{
    ViewBag.Title = " ";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<section id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/D4kd7m.png" alt="">
                    </div>
                 
                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/VvyMQP.png" alt="">
                    </div>
                   
                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/gZLWYb.png" alt="">
                    </div>
                  
                </div>
                </div>
            </div>

         </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/W1rGEq.png" alt="">
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/E5Eyp9.png" alt="">
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/92pDE9.png" alt="">
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/zrEJrD.png" alt="">
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/rZdJMN.png" alt="">
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/gZL98R.png" alt="">
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/Go1yR6.png" alt="">
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/qP2JBD.png" alt="">
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/a2B1X5.png" alt="">
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/NrbOlO.png" alt="">
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/nLGJR0.png" alt="">
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/Go1y0Z.png" alt="">
                    </div>

                </div>
            </div>
        </div>

    </div>
     <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/bJ4LGb.png" alt="">
                    </div>
                 
                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/3YRppM.png" alt="">
                    </div>
                   
                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="http://i.hizliresim.com/656yyv.png" alt="">
                    </div>
                  
                </div>
                </div>
            </div>

         </div>
    <div id="portfolio-single-wrap">
        <div id="portfolio-single">
        </div>
    </div><!-- /#portfolio-single-wrap -->
</section><!--/#portfolio-->
<div class="copyrights wrapper">
    <p align="center"> Copyright © 2015 <a href="http://dolunayotel.com" target="_blank" class="ph_link" title=Daha fazla bilgi için:">dolunayhotel.com</a>. All Rights Reserved. </p>
</div>
