@{
    ViewBag.Title = " ";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<section id="services">
    <div class="container">
        <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="row">
                <div class="text-center col-sm-8 col-sm-offset-2">
                    <h2>HİZMETLERİMİZ...</h2>
                    </div>
            </div>
        </div>
        <div class="text-center our-services">
            <div class="row">
                <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="image">
                        <img class="fl" src="http://i.hizliresim.com/Go1PD6.jpg" alt="">
                    </div>
                    <div class="service-info">
                        <h3>YEMEK</h3>
                        <p>Akdeniz ve Türk mutfağına ait harika lezzetler, Pool Bar ve Snack Bar’da günün her saatinde damak tadınıza uygun seçenekler, 5 çayları, köy kahvaltısı ve çok daha fazlası…Dolunay'da her yemek ayrı bir keyif!</p>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <div class="image">
                        <img class="fl" src="http://i.hizliresim.com/orz0yb.jpg" alt="">
                    </div>
                    <div class="service-info">
                        <h3>SPA</h3>
                        <p>Kızıl kumlara masmavi denizin birleştiği yerde, özel vücut ve cilt bakımlarımızla kendinizi yenileyebilir; masörlerimizin ellerinden eşsiz bir masaj keyfiyle rahatlayabilirsiniz.  </div>
                </div>
                <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
                    <div class="image">
                        <img class="fl" src="http://i.hizliresim.com/1MnVoB.jpg" alt="">
                    </div>
                    <div class="service-info">
                        <h3>SOSYAL</h3>
                        <p>Dolunayda siz, yetişkinlere özel yüzme havuzunda serinlerken ailenizin minik üyeleri, kendilerine özel havuzun keyfini çıkarabilir. Deniz bisikletleri ve kanolarımızla masmavi sularda gezinebilir, gezintiyi uzatmak isterseniz tekne turlarımızla birbirinden güzel koy ve adaları ziyaret edebilirsiniz.</p>
                          </div>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
                    <div class="image">
                        <img class="fl" src="http://i.hizliresim.com/0m2lQo.jpg" alt="">
                    </div>
                    <div class="service-info">
                        <h3>GEZİ</h3>
                        <p>Dolunaydaki tatilinizde;
Gulet ve yat kiralama imkanlarımızla masmavi denizlere doğru günübirlik turlara çıkabilir, dilerseniz araç kiralayıp çevre köyleri ve antik şehirleri ziyaret edebilir, Marmaris’te düzenlenen “Jeep Safari” veya “Quad & Buggy Safari” ile doğaya, doğanın kalbine macera dolu bir yolculuğa çıkabilir, at çiftliğinde binicilik eğitimi alabilir, dalından yeni kopmuş meyve ve sebzelerin satıldığı yerel pazarları gezebilirsiniz.</p>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
                    <div class="image">
                        <img class="fl" src="http://i.hizliresim.com/lvz3Jk.jpg" alt="">
                    </div>
                    <div class="service-info">
                        <h3>ÇOCUKLARA ÖZEL</h3>
                        <p>Şimdi Çocuk Olmak Vardı • 04-12 yaş için mini club • Özel eğitimli ekibiyle aktiviteler, oyunlar...</p>
                        
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
                    <div class="image">
                        <img class="fl" src="http://i.hizliresim.com/6569Qv.jpg" alt="">
                    </div>
                    <div class="service-info">
                        <h3>AFTERSATURDAY PARTY</h3>
                        <p>Dolunay'da her cumartesi dans ve eğlenceli muazzam geceler sizleri bekliyor... 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#services-->
<div class="copyrights wrapper">
    <p align="center"> Copyright © 2015 <a href="http://dolunayotel.com" target="_blank" class="ph_link" title=Daha fazla bilgi için:">dolunayhotel.com</a>. All Rights Reserved. </p>
</div>