@{
    ViewBag.Title = " ";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<footer>
    <div>
    <br />
    <br />
    <p align="center"><strong> Acar sokak no 26, Dolunay mahallesi</strong><br />
            <strong>Topkaya / MUĞLA</strong> <br />
            <strong><abbr title="Phone">Telefon:</abbr></strong>
          <strong> 0090 252 466 63 32</strong> </p>
        <p align="center"><strong>info@dolunayotel.com </strong></p>
      
    </div>

    <div class="copyrights wrapper">
        <p align="center"> Copyright © 2015 <a href="http://dolunayotel.com" target="_blank" class="ph_link" title=Daha fazla bilgi için:">dolunayhotel.com</a>. All Rights Reserved. </p>
    </div>

</footer>
