
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<div class="copyrights wrapper">
    <p align="center"> Copyright © 2015 <a href="http://dolunayotel.com" target="_blank" class="ph_link" title=Daha fazla bilgi için:">dolunayhotel.com</a>. All Rights Reserved. </p>
</div>