@model IEnumerable<Oda>



@{
    ViewBag.Title = " ";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<section id="services">
    <div class="container">
        <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="row">
                <div class="text-center col-sm-8 col-sm-offset-2">
                    <h2>ODALARIMIZ...</h2>
                </div>
            </div>
        </div>
        <div class="text-center our-services">
            <div class="row">

                <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="image">
                        <img class="fl" src="http://i.hizliresim.com/Z71Zko.png" alt="">
                    </div>
                    <div class="service-info">
                        <h2>BAHÇE EV</h2>
                        <p>
                            Bahçe ev, yeşilliklerin içerisinde 50 m2’lik bir alanda konumlanmıştır.
                            Orman ve bahçe manzaralıdır. Balkon / teras bulunmaktadır. Bu suitlerden otelimizde
                            2 adet bulunmaktadır. 1 yatak odası, 1 çocuk yatak odası ve  oturma odasından oluşmaktadır.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <div class="image">
                        <img class="fl" src="http://i.hizliresim.com/7M8qyr.png" alt="">
                    </div>
                    <div class="service-info">
                        <h2>DELUXE AİLE SUITE</h2>
                        <p>
                            Modern tarzda dizayn edilmiş bu odalarımızın, 46 m² kullanım alanları bulunmaktadır.
                            2 yatak odası, bir banyo ve bahçe manzaralı geniş balkonları ile tek çocuklu ailelerin rahat edebileceği tarzda
                            dizayn edilmiş bir yapımızdır.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
                    <div class="image">
                        <img class="fl" src="http://i.hizliresim.com/Go1BDv.png" alt="">
                    </div>
                    <div class="service-info">
                        <h2>DELUXE ÇİÇEK SUITE </h2>
                        <p>
                            Deluxe Çiçek Suitlerimiz, otelimizin tam ortasında yer alan havuzun yanında yan yana sıralanmıştır.
                            33 m² kullanım alanına sahiptir.
                            Çift kişilik büyük yataklı ya da iki ayrı yataklı yatak odasıyla orman manzaralı odalarımız arasında yer alırlar. Doğaya uyumlu bu taş yapılar, iki katlı olup alt katı ayrı üst katı ayrı olacak şekilde rezerve edilmektedir.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
                    <div class="image">
                        <img class="fl" src="http://i.hizliresim.com/4bRPj0.png" alt="">
                    </div>
                    <div class="service-info">
                        <h2>DENİZ DELUXE SUITE</h2>
                        <p>
                            Deniz Deluxe Suitlerimiz 1 yatak odası, geniş banyosu ve hemen önünde yer alan geniş teras veya verandalarından muhteşem bir deniz ve bahçe manzarasına sahip yapılarımızdır. Balayı çiftlerinin tercih ettiği bu suitlerimiz konforlu ve kişiye özel bir tatil geçirmeniz için özel tasarlanmış yapılarımız arasındadır.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
                    <div class="image">
                        <img class="fl" src="http://i.hizliresim.com/m183RV.png" alt="">
                    </div>
                    <div class="service-info">
                        <h2>DENİZ KING SUITE</h2>
                        <p>Ailelere hem konforlu ve hem de ferah bir konaklama rahatlığını sunan bu modern dairelerimiz, 2 banyolu 2 yatak odalı suitlerimiz arasındadır.</p>

                        <p>Hemen önlerinde yer alan geniş teras ve verandaları sayesinde eşsiz deniz ve bahçe manzarasına sahiptirler. Deniz tarafında yer alan ebeveyn odalarında tek büyük yatak, diğerinde ise 2 ayrı yatak bulunmaktadır.</p>

                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
                    <div class="image">
                        <img class="fl" src="http://i.hizliresim.com/8DEMLV.png" alt="">
                    </div>
                    <div class="service-info">
                        <h2>PRESIDENTIAL SUITE</h2>
                        <p>
                            3 banyolu 3 yatak odasından oluşmaktadır. Odaların birinde büyük yatak, diğerlerinde 2 ayrı yatak bulunmakta olup alt katta yer almaktadır. Kalabalık aileler düşünülerek tasarlanmıştır. Ön tarafa bakan odasından geçiş yapabileceğiniz geniş verandası sayesinde, denize direkt olarak geçiş sağlayabilirsiniz. Deniz, orman ve bahçe manzarasını aynı anda görebileceğiniz özel bir odamızdır.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#services-->
<div class="copyrights wrapper">
    <p align="center"> Copyright © 2015 <a href="http://dolunayotel.com" target="_blank" class="ph_link" title=Daha fazla bilgi için:">dolunayhotel.com</a>. All Rights Reserved. </p>
</div>